#gameboard{
		width: 500px;
		height: 500px;
		border: 2px solid black;
		position: relative;
		overflow: hidden;
}
#spaceship{
    height: 50px;
    width: 50px;
    position: absolute;
}
.asteroid{
    position: absolute;
}
.bullet{
    height: 5px;
    width: 5px;
    position: absolute;
}
.heart{
    height: 30px;
}