#gameboard{
		border: 2px solid black;
		position: relative;
		overflow: hidden;
        background-image: url('images/background04.jpg');
        background-size: cover;
        background-repeat: no-repeat;
}
#spaceship{
    height: 50px;
    width: 50px;
    position: absolute;
}
.asteroid{
    position: absolute;
}
.bullet{
    height: 5px;
    width: 5px;
    position: absolute;
}
.heart{
    height: 30px;
}

#score{
    font-family: helvetica;
}

#game{
    height: 100%;
    width: 100%;
    border: none;
}