body{
	background-color: #222;
}

h1{
	color: white;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
}

h2{
	text-align: center;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#controls{
	text-align: center;
}

dl{
	margin-left: auto;
	margin-right:auto;
	width: 500px;
}

.btn{
	display: block;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}